root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,bats,py,ps1}]
indent_style = space
indent_size = 4
max_line_length = 140

[*.{yaml,yml}]
indent_style = space
indent_size = 2
max_line_length = 140

[Dockerfile]
indent_style = space
indent_size = 4
max_line_length = 140

[*.md]
trim_trailing_whitespace = false
